body {
    height: 200vh;
    margin-top: 80px;
    padding: 30px;
    background-size: cover;
    background-image: linear-gradient(90deg, #231932, Black, #231932);
    text-align: center;
}

header {
    background-color: #231932;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
}

nav {
    width: 100%;
}

header * {
    display: inline;
}

header ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

header li a {
    float: left;
    color: white;
    padding: 3px 20px;
    text-decoration: none;
}

header a:hover {
    background-color: indigo;
}

.whiter * {
    color: white;
}
